/* ============================================
   GLOBAL LOADER 
   ============================================ */
@keyframes custom-bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-6px); }
}

.animate-loader-bounce {
    animation: custom-bounce 1s infinite;
}

.delay-150ms {
    animation-delay: 0.15s;
}

.delay-300ms {
    animation-delay: 0.3s;
}

body.loading {
    overflow: hidden !important;
    height: 100vh !important;
}
